<button (click)="pause()" [disabled]="paused | async" mat-icon-button>
  <mat-icon>pause</mat-icon>
</button>
<button (click)="resume()" [disabled]="resumed | async" mat-icon-button>
  <mat-icon>play_arrow</mat-icon>
</button>
<button (click)="step()" [disabled]="resumed | async" mat-icon-button>
  <mat-icon>navigate_next</mat-icon>
</button>
<button (click)="skip()" [disabled]="resumed | async" mat-icon-button>
  <mat-icon>delete</mat-icon>
</button>
<mat-chip-list [hidden]="resumed | async">
  <mat-chip selected="true">{{ notifications | async }}</mat-chip>
</mat-chip-list>
