form {
  margin: 8px
}

.log {
  flex: 0 0 50px;
}

/* https://github.com/angular/material2/issues/8600 */
mat-cell, .mat-header-cell {
  overflow: visible;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.pause {
  flex: 0 0 220px;
}
