<mat-sidenav-container fullscreen>
  <mat-table #table [dataSource]="notificationDataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="notification">
      <mat-header-cell *matHeaderCellDef> Notification </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.notification }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tag">
      <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.tag }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.type }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.value?.json }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="notificationDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: notificationDisplayedColumns;"></mat-row>
  </mat-table>
  <mat-table #table [dataSource]="observableDataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tag">
      <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.tag }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.type }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="log">
      <mat-header-cell *matHeaderCellDef> Log </mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="log(row.id)"> Log </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="observableDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: observableDisplayedColumns;"></mat-row>
  </mat-table>
</mat-sidenav-container>
